.card-post {
  &__header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__description {
    margin: 10px 20px;
  }
  &__user-info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__user-name {
    font-weight: 400;
  }
  &__user-name,
  &__name {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    margin: 0;
  }

  &__photo {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    justify-content: flex-end;
  }

  &__btn-delete {
    display: flex;
    align-items: center;
    top: 15px;
    right: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #222;
  }
}

.grid-card-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-card-post {
  display: flex;
  flex-direction: column;
  &__list-footer-btns {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0.5rem 0;
  }
  &__items-footer-btns {
    display: flex;
    align-items: center;
    div {
      display: flex;
      margin: 0 10px 0 3px;
      .profile-photo-preview {
        margin-right: -10px;
      }
    }
    button {
      border: 0;
      outline: none;
      background: none;
      .like {
        fill: #000;
        &.isLiked {
          fill: red;
        }
        &.animation {
          animation: likeAnimation 0.5s ease-in-out;
        }
      }
    }
  }

  &__follower-like {
    font-weight: 400;
    margin: 0;
  }

  &__section {
    margin: 0 20px;
    span {
      color: rgb(157, 157, 157);
      margin-top: 1rem;
      display: block;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__list-hashtag {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
