.card-post {
  &__header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__description{
    margin: 10px 20px;
  }
  &__user-info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__user-name {
    font-weight: 400;
  }
  &__user-name,
  &__name {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    margin: 0;
  }

  &__photo {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}

.grid-card-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-card-post {
  display: flex;
  flex-direction: column;
  &__list-footer-btns {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__items-footer-btns {
    button {
      border: 0;
      outline: none;
      background: none;
    }
  }

  &__follower-like {
    font-weight: 400;
    margin: 0;
  }

  &__comment {
    line-height: 25px;
  }

  &__section {
    margin: 0 20px;
  }

  &__list-hashtag {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
