.btn-profile{
    cursor: pointer;
    width: 125px;
    height: 40px;
    padding: 10px 0;
    color: #989898;
    background-color: #f6f6f6;
    text-align: center;
    border: 1.5px solid #D3D3D3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    &:hover{
        border-color: #404040;
        color: #404040;
    }
}