.btn-profile{
    cursor: pointer;
    width: 125px;
    height: 40px;
    padding: 10px 0;
    color: #989898;
    background-color: #f6f6f6;
    text-align: center;
    border: 1.5px solid #D3D3D3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    &:hover{
        border-color: #404040;
        color: #404040;
    }
}

.btn-form{
    display: block;
    width: 100%;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 1rem;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(91deg, rgba(64, 93, 230, 0.9) 0.23%, rgba(88, 81, 219, 0.9) 17.97%, rgba(136, 51, 170, 0.9) 38.9%, rgba(193, 53, 132, 0.9) 59.25%, rgba(225, 48, 108, 0.9) 76.75%, rgba(253, 29, 29, 0.9) 97.53%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 23px;
        left: 15px;
        background: inherit;
        filter: blur(10px);
        transform: translateY(20px) scale(0.97);
        -webkit-filter: blur(10px);
        -webkit-transform: translateY(20px) scale(0.97);
        -moz-transform: translateY(20px) scale(0.97);
        -ms-transform: translateY(20px) scale(0.97);
        -o-transform: translateY(20px) scale(0.97);
    }  
    
    &--mt{
        margin-top: 50px;
    }
}