.card-photo{
    overflow: hidden;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    &__photo{
        width: 100%;
        height: auto;
    }
}

@supports(object-fit: cover){
    .card-photo{
        &__photo{ 
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}