.card-photo {
  overflow: hidden;
  width: 110px;
  height: 110px;
  cursor: pointer;
  // border-radius: 20px;
  // -webkit-border-radius: 18px;
  // -moz-border-radius: 18px;
  // -ms-border-radius: 18px;
  // -o-border-radius: 18px;
  &__photo {
    width: 100%;
    height: 100%;
  }
}

@supports (object-fit: cover) {
  .card-photo {
    &__photo {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
