.footer-action-nav {
  background: linear-gradient(91.28deg, $bg_white 0%, rgb(251, 251, 251) 100%);
  height: 65px;
  @include fixElement($position-y: "bottom");

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }

  &__item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__nav {
    margin-top: 16px;
  }

  &__svg {
    height: 30px;
    &--avatar {
      width: 85%;
      height: 85%;
      border-radius: 13px;
    }
  }

  &__link {
    &--user {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 13px;
      background: linear-gradient(
        #405de6,
        #5851db,
        #8833aa,
        #c13584,
        #e1306c,
        #fd1d1d
      );
    }
  }
}

@media (max-width: 354px) {
  .section-cardProfile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
