.form__comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  &__textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    resize: none;
  }
  &__btn {
    border: 0;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
