.content-form-auth{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    &__box-password{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        padding: 13px 15px;
        margin-bottom: 15px;
        border-radius: 20px;
        border: 1.9px solid #EAEAEA;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    &__eye-password{
        width: 25px;
        cursor: pointer;
        path {
            fill: #605e69;
        }

        &--active{
            path {
                fill: #d6d6d6;
            }
        }
    }

    &__input{
        width: 100%;
        border: 1.9px solid #EAEAEA;
        padding: 13px 15px;
        background-color: transparent;
        border-radius: 20px;
        color: $gray;
        transition: all .2s;
        margin-bottom: 15px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        &--password{
            border: none;
            border: none;
            background-color: transparent;
            margin: 0;
            width: 83%;
            padding: 0;
        }
        &:focus{
            color: #000;
        }
        
    }
}

.select-sex{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
    &__label{
        margin: 0 0 10px 0;
    }
    &__content{
        display: flex;
        justify-content: space-around;
    }

    &__sex-option{
        font-weight: bold;
        font-size: 20px;
        color: $gray;
        font-weight: bold;
        cursor: pointer;
    }

    #femenino:checked + &__sex-option, #masculino:checked + &__sex-option {
        background: linear-gradient(91deg, rgba(64, 93, 230, 0.9) 0.23%, rgba(88, 81, 219, 0.9) 17.97%, rgba(136, 51, 170, 0.9) 38.9%, rgba(193, 53, 132, 0.9) 59.25%, rgba(225, 48, 108, 0.9) 76.75%, rgba(253, 29, 29, 0.9) 97.53%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
}