.generic-modal {
  &__container-modal {
    background: linear-gradient(91.28deg, #f6f6f6 0%, #fbfbfb 100%);
    position: fixed;
    padding: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 300px;
    z-index: 2;
    header {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.container-modal-actions {
  position: absolute;
  z-index: 5;
  background-color: #000000a0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__card {
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
  }

  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid #e5e5e5;
    &--danger {
      color: #ff0000;
    }
  }
}

// container-modal-actions
@media screen and (max-width: 541px) {
  .container-modal-actions {
    &__card {
      min-width: 80%;
    }
  }
}
