/* .container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
} */
.content-loading {
  position: absolute;
  left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  &__bar {
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    animation: up_down 1.5s ease-in-out infinite;
    &-purple {
      background-color: $purple_for;
      animation-delay: 1s;
    }

    &-pink {
      background-color: $pink_three;
      animation-delay: 0.8s;
    }
    
    &-red {
      background-color: $red_two;
      animation-delay: 0.6s;
    }
    
    &-orange {
      background-color: $orange;
      animation-delay: 0.4s;
    }
    
    &-yellow {
      background-color: $yellow;
      animation-delay: 0.2s;
    }
  }
}

@keyframes up_down {

  0%,
  100% {
      height: 2px;
  }

  50% {
      height: 80px;
  }
}