.header-nav-pages{
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    background-color: #F6F6F6 ;
    left: 0;
    padding: 10px 0;
    z-index: 1;
    right: 0 ;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0 10px;
    }
    &__item{    
        &--left{
            margin-right: auto;
            margin-left: 10px;
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 32px;
        padding: 0;
        width: 32px;
        border-radius: 50%;
        background-color: transparent;
        transition: all .5s;
        &:hover{
            background-color: rgb(236, 236, 236);
        }
    }

    &__svg{
        &--pointer{
            cursor: pointer;
            width: 15px;
        }
    }
    &__titlePage{
        margin: 0;
        font-size: 17px;
        font-weight: normal;
    }
}