.box-search {
  display: flex;
  align-items: center;
  background-color: #efefef;

  border-radius: 22px;
  padding: 0 20px;
  border: 0.5px solid #eaeaea;
  &__inputSearch {
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
  }

  &__content {
    background-color: #fff;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;

    span {
      display: block;
      color: #8b8b8b;
      text-align: center;
      margin: 3rem 0;
    }

    &__user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      h5 {
        padding: 0.4rem 0;
        margin: 0;
      }
      img {
        border-radius: 50px;
      }
      a {
        color: #8b8b8b;
      }
      &:hover {
        background-color: #f5f5f5;
        padding: 0.7rem;
        cursor: pointer;
      }
    }
  }
}
