.skeleton-post{
    &__photo{
        width: 100%;
        height: 320px;
        background-color: #e6e6e6;
    }
    &__avatar{
        height: 60px;
        border-radius: 50%;
        width: 60px;
        background-color: #e6e6e6;
        margin-right: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    &__nickName, &__name, &__avatar, &__photo{
        animation: shine-lines 2s infinite linear;
        -webkit-animation: shine-lines 2.2s infinite linear;
        background-image: linear-gradient(90deg, #e6e6e6 0px, rgba(250, 250, 250, 0.436) 40px, #e6e6e6 80px)     ;
}
    &__nickName{
        height: 10px;
        margin-bottom: 10px;
        width: 100px;
    }

    &__name{
        width: 150px;
        height: 10px;
    }

    @keyframes shine-lines{
        to {
            background-position: 315px 0, 0 0, 0 190px, 50px 195px;
        }
    }
}