.user-edit__form {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.user-edit__img {
  display: flex;
  img {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  div {
    margin-left: 1rem;
    h2 {
      font-size: 19px;
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
    }
    span {
      font-size: 14px;
      color: $blue;
    }
  }
}

.user-edit__input {
  margin-top: 1.5rem;
  label {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $gray-light;
    padding: 0.5rem;
    font-size: 14px;
  }
  textarea {
    border-radius: 5px;
    border: 1px solid $gray-light;
    padding: 0.5rem;
    font-size: 14px;
    resize: vertical;
    width: 100%;
  }
}
