* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style: none;
  box-sizing: border-box;
  word-wrap: break-word;
  outline: none !important;
  text-decoration: none;
}
html {
  font-family: 'Roboto', sans-serif;
  background: $bg_white;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
html::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
html::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
html::-webkit-scrollbar-track:hover,
html::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
